<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/static/lib/jquery.js" type="text/javascript"></script>
    <script src="/static/lib/angular.js" type="text/javascript"></script>
    <script src="/static/lib/yg.lsp.ext.js" type="text/javascript"></script>
    <script src="/static/lib/angular-resource.js" type="text/javascript"></script>
    <script src="/static/app/services/yg.services.js" type="text/javascript"></script>
    <script src="/static/app/services/yg.global.env.js" type="text/javascript"></script>
    <script src="/static/lib/easyUI/js/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="/static/app/directives/yg.component.js" type="text/javascript"></script>
    <script src="/static/app/directives/yg.searchpanel.js" type="text/javascript"></script>
    <script src="/static/app/directives/yg.datagrid.js" type="text/javascript"></script>
    <link href="/static/lib/easyUI/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="/static/lib/easyUI/themes/black/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div ng-controller='app.Ctrl'>
        <div tool-bar on-item-click="onItemClick(item)" style="margin-bottom: 0px; background: #F4F4F4;
            height: 26px; padding: 5px;">
            <a bar-item iconcls='icon-add' key="add" disable='currentDataQuery.ReadOnly' >Add</a> 
            <a bar-item iconcls='icon-remove' key="remove" disable='currentDataQuery.ReadOnly'>Remove</a>
            <a bar-item iconcls='icon-save' key="save"disable='currentDataQuery.ReadOnly'>Save</a>
            <a bar-item iconcls='icon-search' key="export">Export</a>            
        </div>
        <div class='search-panel' ng-model='conditions' yg-search='search()'>
        </div>
        <div gridview style="width: 100%;disply:inline-block;" ng-model='datasource' dataquery='queries.dqBillList'
            on-click-cell="onClickCell(element,rowIndex,field,value)" on-click-row="onClickRow(element,rowIndex,rowData)"
            on-dbl-click-cell="onDblClickCell()">
            <table>
                
            </table>
        </div>
        <div class="detail">
            <h1>Detail</h1>
            <div yg-detail-panel dataquery='currentDataQuery' ng-disabled='!currentDataQuery.focusRow'>
               
            </div>          
        </div> 
    </div>
    
</body>
<script src="/static/app/directives/yg.detialpanel.js" type="text/javascript"></script>
<script src="/static/app/directives/yg.editor.js" type="text/javascript"></script>
<script src="/static/app/services/yg.core.js" type="text/javascript"></script>
<script src="controller.js" type="text/javascript"></script>
<script>
    angular.bootstrap(document.body, ['app']);
</script>
</html>
